{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 85,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5"
}
